doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    link(rel='stylesheet', href='style/main.min.css')
header
    .dreamshare
        h3 DREAMSHARE
        ul
            li
                a(href='#') Log in
            li
                div
                    a(href='#') Sign up
    .centerText
        h1
            | SHARE YOUR
            | HOLIDAY DREAM
        p And find the perfect partner to fullfill it
        button Find your holiday partner
main
    section.firstSection
        h2 How Dreamshare works?
        .firstSection__images
            .firstSection__images_step1
                button STEP 1
                h3 Sed leo enim, condimentum
                p
                    | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet
                    | facilisis.
            .firstSection__images_step2
                button STEP 2
                h3 Morbi velit risus
                p
                    | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
            .firstSection__images_step3
                button STEP 3
                h3 Sed leo enim, condimentum
                p
                    | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet
                    | facilisis.
    section.secondSection
        h2 Meet a partner for your best holiday
        .secondSection__partner
            figure.secondSection__partner_first
                img(src='style/images/Avatar.png')
                h4 Bradley Hunter
                figcaption Based in Chicago. I love playing tennis and loud music.
            figure.secondSection__partner_second
                img(src='style/images/Avatar2.png')
                h4 Marie Bennett
                figcaption Currently living in Colorado. Lover of art, languages and travelling.
            figure.secondSection__partner_third
                img(src='style/images/Avatar3.png')
                h4 Diana Wells
                figcaption
                    | Living in Athens, Greece. I love black and white classics, chillout music and green tea.
            figure.secondSection__partner_fourth
                img(src='style/images/Avatar4.png')
                h4 Christopher Pierce
                figcaption Star Wars fanatic. I have a persistent enthusiasm to create new things.
        button.secondSection__partner_button See other partners
    section.thirdSection
        h2 Discover holiday activity ideas
        .thirdSection__holiday
            .thirdSection__holiday_sport
                h3 Sports and Activs
            .thirdSection__holiday_health
                h3 Wellness and Health
            .thirdSection__holiday_extreme
                h3
                    | Extreme Sports
                    | and Expeditions
            .thirdSection__holiday_game
                h3 Games
            .thirdSection__holiday_culture
                h3 Culture and Education
            .thirdSection__holiday_relax
                h3 Enjoyment and Relaxation
            .thirdSection__holiday_travel
                h3 Travelling
    section.fourthSection
        h2 Crate your holiday activity
        p Hi! What are your holiday interests?
        form
            input(type='text', placeholder='Enter your insterests')
            button Search partners
footer
    hr
    .footer
        .footer__about
            p DREAMSHARE
            div
                h4 Company
                ul
                    li About
                    li Contact
                    li Press
                    li Blog
                    li Terms and Privacy
                    li Help
            h4 Partners
        .footer__logo
            span DESIGNED BY
            div
